body{
    background-image: url("Images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.head {
    color: blanchedalmond;
    text-align: center;
    background-color: black;
    border: 2px solid chocolate;
    margin: 20px;
    padding: 20px;
}
.logo{
    position: absolute;
    left: 1250px;
    top: 30px;
    bottom: 100px;
    width: 90px;
    height: 90px;
}

div.fotos {
align-self: center;
float: left;
border: 1px solid gray;
width: 300px;
height: 200px;
margin: 90px;
}

div.fotos:hover{
border: 1px solid chocolate;
} 